@font-face {
    font-family: "Geist";
    src: url("/assets/admin/plugins/webfonts/geist/Geist-Thin.woff2")
        format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/admin/plugins/webfonts/geist/Geist-ExtraLight.woff2")
        format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/admin/plugins/webfonts/geist/Geist-Light.woff2")
        format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/admin/plugins/webfonts/geist/Geist-Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/admin/plugins/webfonts/geist/Geist-Medium.woff2")
        format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/admin/plugins/webfonts/geist/Geist-SemiBold.woff2")
        format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/admin/plugins/webfonts/geist/Geist-Bold.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/admin/plugins/webfonts/geist/Geist-ExtraBold.woff2")
        format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("/assets/admin/plugins/webfonts/geist/Geist-Black.woff2")
        format("woff2");
    font-weight: 900;
    font-style: normal;
}

/* ✅ Variable font for dynamic weight selection */
@font-face {
    font-family: "Geist Variable";
    src: url("/assets/admin/plugins/webfonts/geist/Geist[wght].woff2")
        format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

/* Apply Geist font */
body {
    font-family: "Geist", sans-serif;
}

.tooltip {
    display: none;
    white-space: nowrap;
    position: absolute;
    left: 60px;
    top: 0;
    background: #202020;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    pointer-events: none;
}
.tooltip-left {
    display: none;
    white-space: nowrap;
    position: absolute;
    left: 0px;
    top: -110%;
    background: #202020;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    pointer-events: none;
}
.tooltip-right {
    display: none;
    white-space: nowrap;
    position: absolute;
    right: 0px;
    top: -110%;
    background: #202020;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    pointer-events: none;
}

.tooltip-top-center {
    display: none;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: -110%;
    background: #202020;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    pointer-events: none;
}

.sidebar-collapsed .menu-item:hover .tooltip {
    display: block;
}

/* loader */
.loader::after {
    content: "";
    width: 48px;
    height: 48px;
    border: 5px solid #023c40;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    z-index: 100;
    transition: all 0.3s ease;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dt-layout-row {
    margin: 5px !important;
}
